* {
  margin: 0;
  padding: 0;
}

.title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

body {
  background-color: darksalmon;
  background-color: rgb(45, 67, 92);
}

.divider {
  margin-top: 10px;
  background-color: indigo;
  width: 100%;
  height: 2px;
}
.todoList {
  position: sticky;
  top: 1%;
  background: rgb(158, 157, 158);
  margin-top: 10px;
  border-radius: 10px;
}
.card {
  margin-bottom: 10px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnSet {
  display: flex;
  justify-content: space-between;
}
